[submodule "opendlv.standard-message-set"]
	path = opendlv.standard-message-set
	url = https://github.com/chalmers-revere/opendlv.standard-message-set.git
[submodule "openkorp-message-set"]
	path = openkorp-message-set
	url = https://github.com/openKorp/openkorp-message-set.git
